/frontend/node_modules/
/frontend/dist/
/frontend/npm-debug.log
/frontend/package-lock.json

/backend/__pycache__/
/backend/static/
/backend/media/
/backend/*.pyc
/backend/*.pyo
/backend/*.pyd

/backend/venv/
/backend/env/
/backend/.venv/

.env
*.env

.idea/
/.vscode/

.DS_Store

*.log

/backend/venv/
/backend/env/

*.pyc
