# Exclude PyCharm's project files
.idea/

# Exclude Python bytecode cache
__pycache__/

# Exclude the SQLite database file
db.sqlite3

# Exclude Python virtual environment
.venv/

# Exclude compiled files
*.pyc
*.pyo
*.pyd


# Exclude log files
*.log

# Exclude environment variables files
.env
*.env

# Optional: Add static and media files if applicable
/static/
media/
