<div class="container">
  <div class="row mb-3">
    <div class="col-sm-4"><strong>ID:</strong></div>
    <div class="col-sm-8">{{ user.id }}</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4"><strong>Username:</strong></div>
    <div class="col-sm-8">{{ user.user_name }}</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4"><strong>Full Name:</strong></div>
    <div class="col-sm-8">{{ user.full_name }}</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4"><strong>Email:</strong></div>
    <div class="col-sm-8">{{ user.email }}</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4"><strong>Role:</strong></div>
    <div class="col-sm-8">{{ user.role }}</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4"><strong>Phone Number:</strong></div>
    <div class="col-sm-8">{{ user.telephone }}</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4"><strong>Birthday Date:</strong></div>
    <div class="col-sm-8">{{ user.birthday }}</div>
  </div>
  <div class="row">
    <div class="col-sm-4"><strong>Joined Date:</strong></div>
    <div class="col-sm-8">{{ user.created_at | moment:'MMMM Do YYYY' }}</div>
  </div>
</div>
