<ng-template #modalTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <!-- Injected Content -->
    <ng-content></ng-content>
  </div>
  <div class="modal-footer" *ngIf="showFooter">
    <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="save()" *ngIf="showSaveButton">Save</button>
  </div>
</ng-template>
