<div class="user-list">
  <ag-grid-angular
    class="user-list__grid ag-theme-alpine"
    style="width: 100%; height: 600px;"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [getRowId]="getRowId"
    [rowModelType]="rowModelType"
    [suppressAggFuncInHeader]="true"
    [paginationPageSizeSelector]="[10, 25, 50, 100, 200]"
    (storeRefreshed)="onStoreRefreshed($event)"
    (gridReady)="onGridReady($event)"
    [context]="context"
    [components]="frameworkComponents"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [cacheBlockSize]="paginationPageSize"
  >
  </ag-grid-angular>
</div>
