// user-form.component.scss
:host {
  display: block;

  .form-control, .form-select {
    &.ng-touched.ng-invalid {
      border-color: var(--bs-danger);
    }
  }

  .invalid-feedback {
    display: block;
    font-size: 0.875rem;
  }
}
